@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: 'Exo 2', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #082032;
	@apply overflow-auto;
	@apply min-h-screen;
	@apply text-gray-100;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	@apply text-gray-100;
}
a {
	color: #FF4C29;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	@apply px-2;
	@apply py-1;
	@apply bg-slate-700;
	@apply text-sm;
	@apply rounded-sm;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/* .prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
	@apply text-gray-100;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
	@apply text-gray-100;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
	@apply text-gray-100;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
	@apply text-gray-400;
} */