---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="flex flex-col h-screen">
    <Header title={SITE_TITLE} />
    <main class="flex flex-col pt-28 pb-12 flex-grow space-y-4">
      <div class="self-center">
        <img
          src="/me-profile.jpeg"
          alt="profile picture"
          class="h-24 rounded-full"
        />
      </div>
      <h1
        class="self-center font-bold text-text-heading text-center text-4xl md:text-5xl pt-5 pb-3 overflow-hidden"
      >
        <span
          class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_30%] from-[#FF4C29] to-[#FF4C29]"
        >
          Hey, I'm Mannan
        </span>
      </h1>
      <div class="self-center text-center text-lg">
        <p>
          Skilled in Javascript, Node.js, Vue.js, React, Laravel,
          HTML, and CSS
        </p>
        <p>
          I am problem-solver, delivering innovative solutions and
          confident in my ability to help organisations achieve their
          technology goals to stay ahead of the curve.
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
